*{
  /*background: #55d6aa;*/
  z-index:1; /*Add this*/
}

.container {
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  position: fixed;

  background: #4c32f0;
}

.logo {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-block: auto;
}

ul, li, a {
  /* background: #55d6aa;*/
}

ul {
  padding-left: 120px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


.logo {
  /* padding: 10px 0;*/
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 120px;
}

nav {
  display: flex;
  padding: 10px;
}

.button-logIn {
  position: absolute;
  top: 25px;
  right: 100px;
}


/* CSS */
.button-21 {
  width: 150px;
  align-items: center;
  appearance: none;
  background-image: linear-gradient(-180deg, #7b80f1, #4c32f0);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #7b80f1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C4BBF3;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

li a{
  color: #C4BBF3;
  cursor: pointer;
}
