.card {
  width: 100%;
  height: 120px;
  padding: 20px;

  border-radius: 15px;

  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

p {
  text-align: left;
  background-color: white;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 7px;
}

.answer {
  margin-top: 0px;
}

.correct {
  color: #6C6C6C;
}
