.container {
  height: 300px;
  width: 600px;
  background: #1b8f7d;
  border-radius: 25px;
  padding: 20px;


  margin: 0;
  position: absolute;
  top: 46%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.overall {

}
