.overall {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/Images/blob-scene-haikei.svg");
  background-size: cover;
}

.container {
  height: 320px;
  width: 600px;
  /* background: #1b8f7d;*/
  border-radius: 25px;
  padding: 28px;


  margin: 0;
  position: absolute;
  top: 51%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.settingsIcon{
  float: right;
  padding-right: 60px;
  padding-top: 120px;

  cursor: pointer;
}

.settingsIcon:hover{
  color: #3a3a3a;
}

.icon{
  font-size: 40px;
}

.smaller {
  background: #7b80f1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.bigger {
  height: 600px;
  width: 700px;

  /*  background-color: #6C6C6C;*/
}

.counter{
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}

