.LoginP{

  padding-inline: 50px;
  padding-top: 10vh;

  position: absolute;
  width: 40vw;
  height: 70vh;

  right: 7vw;
  bottom: 15vh;

  background: #FFFFFF;

  box-sizing: border-box;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

  animation-name: box;
  animation-duration: 1s;
}

@keyframes box {
  from {bottom: 0; opacity: 0;}
  to {bottom: 15vh; opacity: 1}
}

.background{
  width: 100vw;
  height: 100vh;

  background-image: url("../../../assets/Images/blob-scene-haikei3.svg");
  background-size: cover;

  position: absolute;
}

.loginText{
  position: relative;
  left: 20vw;
  top: 30vh;

  animation-name: text;
  animation-duration: 1s;
}

@keyframes text {
  from {top: 5vh; opacity: 0;}
  to {top: 30vh; opacity: 1}
}


.loginText h1 {
  font-size: 4rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.loginText p {
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 0;
}

.field {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 2px;
  padding-top: 10px;
  margin-block: 1rem;

  border-bottom: solid #cccccc 2px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.field:active {
  outline: none;
}

/*
.emailField{



  background: #F8F7F7;
  border: 1px solid #000000;
  box-sizing: border-box;

  /* Inside Auto Layout
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 36px 0px;
}

.passwordField{
  position: static;
  width: 500px;
  height: 60px;
  left: 30px;
  top: 344px;

  background: #F8F7F7;
  border: 1px solid #000000;
  box-sizing: border-box;

  /* Inside Auto Layout

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 36px 0px;


}
*/

.loginButton{
  /* Auto Layout */

  background-image: linear-gradient(-180deg, #7b80f1, #4c32f0);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  /*font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;*/
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;

  margin-top: 2rem;

}

.loginButton:hover {
  background-image: linear-gradient(-180deg, #d4d9f5, #7b80f1);
}

.alert{
  color: red;
  width: 100%;

  margin-top: 0;
  padding-top: 0;

  font-size: 1rem;
}
input[type="errorText"]{
  border: none;
  background: transparent;
  color: #E62C03;
  font-size: 1rem;
  padding: 5px;
}
.errorText{
  pointer-events: none;
}

