<div class="background">
  <h1 class = "loginText">Sign Up</h1>
  <div class="LoginP">
    <form [formGroup]="registerForm" (ngSubmit)="signup()">
      <label class="emailT" for="email">Email: </label>
      <input class="emailField" id="email" type="text" formControlName="email">

      <label class="password" for="password">Password: </label>
      <input class="passwordField" id="password" type="password" formControlName="password">
      <button class="signupButton" id="signup"type="submit">Sign up</button>
    </form>
  </div>
</div>
