<!--<div class="timer-controls">

  <button (click)="clickEvent('start')" class="btn" type="button">
    Start
  </button>

  <button mat-raised-button color="accent" (click)="clickEvent('start')">Start</button>

  <button (click)="clickEvent('pause')" class="btn" type="button">
    Pause
  </button>

  <button (click)="clickEvent('restart')" class="btn" type="button">
    Restart
  </button>

</div>-->
<div class="timer-control">
  <button class="btn" color="primary" mat-raised-button>Start</button>
</div>
