.timer-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 90%;
  height: 50px;
  position: fixed;
  bottom: 32px;

  color: black;
  background-color: #bbc3ef;
}

.btn:hover {
  background-color: #d4d9f5;
}
