.title{
  text-align: center;
  font-size: 45px;
  padding-bottom: 25px;
}


.closeBtn{
  display: block;
  margin: auto;
  width: 90%;
  font-size: 20px;
}


.example-form-field {
  width: 200px;
}

.element{
  display: inline-block;
}

li{
  list-style: none;
}

.pom{
  padding-right: 25px;
}
