* {
  margin-inline: auto;
}

.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(194, 187, 239);
  background: linear-gradient(186deg, rgba(194, 187, 239, 1) 0%, rgba(113, 93, 242, 1) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
}

.view {
  text-align: center;
  padding-top: 3rem;
  display: block;
  position: relative;

  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {top: -70px; opacity: 0;}
  to {top: 0;opacity: 100;}
}

h3 {
  color: white;
}

ul {
  list-style: none;
  display:flex;
  justify-content: center;
}

li {
  display: list-item;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 15vw;
  font-size: 1rem;
}

.question {
  background-color: white;
}

.button {
  width: 100px;
  padding: 10px;
  color: white;
  font-size: 2rem;
  background-color: mediumpurple;
  transition: background-color 2s;
  transition-timing-function: ease;
  cursor: pointer;
  border-radius: 15px;
}

.button:hover {
  background-color: rebeccapurple;
}
