.container {
  text-align: center;
  margin-top: 10vh;
}

.header {

}

.item {
  display: inline-block;
}

.practise-btn {
  display: inline-block;
  width: 100px;
  color: mediumpurple;
  padding: 0;
  margin: 0;
}

#circle {
  position: relative;

  width: 1rem;
  height: 1rem;
  padding: 5px;

  border-radius: 50%;

  background: mediumpurple;
}

#triangle-right {
  position: absolute;

  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-left: 1rem solid white;
  border-bottom: 0.5rem solid transparent;
  border-radius: 4px;
  background-color: mediumpurple;
}

.practise {
  text-align: left;
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
}

.practise:hover #triangle-right{
  background-color: rebeccapurple;
}

.practise:hover #circle{
  background-color: rebeccapurple;
}

.practise:hover .practise-btn{
  color: rebeccapurple;
}

.description {
  margin-bottom: 4rem;
  margin-top: 0;
  padding-top: 0;
}

.cards-list {
  height: 65vh;
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  grid-gap: 30px;
  justify-content: center;
  overflow-y:auto;
  align-items: start;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
