<app-navbar-collections></app-navbar-collections>

<div class="background">

  <h1 class="exit" (click)="Back()">Exit</h1>


<div class="container">
  <div class="card" *ngIf="deck && cards">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <h3>{{cards[index].question}}</h3>
    </div>
    <div class="back" [ngStyle]="answeredCorrectly?{'background-color' : 'mediumseagreen'} : {'background-color' : 'indianred'}">
      <div *ngIf="checked">
      <h3 class="answer">{{cards[index].answer}}</h3>
      </div>
    </div>
  </div>
  </div>

  <input class="textField" placeholder="Type the answer..." [(ngModel)]="answer">


  <div class="buttons">
  <div class="checkButton btn" (click)="toggle()" (click)="checkAnswer()">
    <p>Check</p>
  </div>
  <div class="idontKnow btn" (click)="idontKnow()">
    <p>Don't know</p>
  </div>
  </div>

</div>

</div>







