<!--<div *ngIf="flashcards$  as collection ">
  <button (click)="previews()">Previews</button>
  <button (click)="next()">Next</button>
  <button (click)="rotate()"> Rotate </button>
  <app-flashcard [question]="question" [flashcard]="flash"></app-flashcard>
</div>

<div class="back-link" (click)="backToCollections()">Back to collections</div>-->
<app-navbar-collections></app-navbar-collections>
<div class="container">
  <div class="leave" (click)="leave()">leave</div>
  <!--div class="flashcard"-->
    <div class="aa">
      <app-flashcard [question]="answer" [flashcard]="flash"></app-flashcard>
    </div>

    <div class="control">
      <div>
        <button class="prevbut" (click)="previews()"><span>Left</span></button>
        <button class="nextbut" (click)="next()"><span>Right</span></button>
      </div>
    </div>
    <div class="info">
    <h1 *ngIf="flashcards$">{{counter+1}} / {{flashcards$.length}}</h1>
  </div>
    <div class="rotateCont">
    <button class="rotateBtn" (click)="rotate()">Rotate</button>
    </div>
  <!--/div-->

</div>

