<div class="collections">
  <div class="header">
    <div class="item" *ngIf="!publicShown">
      <div class="plus-icon" title="create a new deck" (click)="openPopup()"></div>
    </div>
    <div class="item">
      <h1 class="my-coll"
        [ngStyle]="(publicShown)? {'font-size' : '1.5rem', 'color' : 'mediumpurple'} : {'font-size' : '2rem', 'color' : 'black'}"
        (click)="showPrivate()"
      >My collections</h1>
    </div>
    <div class="item">
      <h1>     |     </h1>
    </div>
    <div class="item">
      <h1 class="pub-coll"
        [ngStyle]="(publicShown)? {'font-size' : '2rem', 'color' : 'black'} : {'font-size' : '1.5rem', 'color' : 'mediumpurple'}"
        (click)="showPublic()"
      >Public collections</h1>
    </div>
    <!-- Popup window -->
    <div id="popup" class="modal"
         [ngStyle]="popupShown? {'display' : 'block'} : {'display' : 'none'}">
      <div class="modal-content">
        <app-new-deck-popup [userId]="1"></app-new-deck-popup>
      </div>
    </div>

    <div class="searchbar">
      <input class="search" placeholder="search..." [(ngModel)]="searchPhrase" (keyup.enter)="searchDecks()" (input)="resetDecks()">
    </div>
  </div>

  <br>
  <br>
  <div class="decks-list" *ngIf="decks$ | async as decks">
    <ng-container *ngFor="let deck of decks">
      <app-collection-card class="card" [deck]="deck" (click)="goToCollection(deck.id)"></app-collection-card>
    </ng-container>
  </div>
</div>

