<app-navbar-collections></app-navbar-collections>

<div class="background">

  <!--HEADER-->
<div class="collections">
  <div class="header">
    <div class="item" *ngIf="!publicShown">
      <div class="plus-icon" title="create a new deck" (click)="openPopup()">+</div>
    </div>
    <div class="item">
      <h1 class="my-coll"
          [@openClose]="publicShown ? 'closed' : 'open'"
        (click)="showPrivate()"
      >My collections</h1>
    </div>
    <div class="item">
      <h1>     |     </h1>
    </div>
    <div class="item">
      <h1 class="pub-coll"
          [@openClose]="publicShown ? 'open' : 'closed'"
        (click)="showPublic()"
      >Public collections</h1>
    </div>
    <!-- POPUP WINDOW -->
    <div id="popup" class="modal"
         [ngStyle]="popupShown? {'display' : 'block'} : {'display' : 'none'}">
      <div class="modal-content" *ngIf="popupShown">
        <app-new-deck-popup></app-new-deck-popup>
      </div>
    </div>

    <div class="searchbar">
      <input class="search" placeholder="search..."
             [(ngModel)]="searchPhrase"
             (keyup.enter)="searchDecks()"
             (input)="resetDecks()">
    </div>
  </div>

  <br>
  <br>
  <!--DECKS LIST-->
  <div class="decks-list" *ngIf="decks$ | async as decks">
    <span class="no-decks-info" *ngIf="decks.length==0">you don't have any decks yet, click a plus icon above to create one</span>
    <ng-container *ngFor="let deck of decks">
      <div *ngIf="publicShown">
        <app-public-collection-card class="card" [deck]="deck" (click)="goToCollectionPreview(deck.id)"></app-public-collection-card>
      </div>
      <div *ngIf="!publicShown">
        <app-collection-card class="card" [deck]="deck" (click)="goToCollection(deck.id)"></app-collection-card>
      </div>
    </ng-container>
  </div>
  <p class="page-nav" *ngIf="publicShown && currentPage!=1" (click)="previousPage()"><< previous page</p>
  <p class="page-nav" *ngIf="publicShown && (decks$| async)?.length == itemsPerPage" (click)="nextPage()">next page >></p>
</div>

</div>

