<div class="collections">
  <div class="header">
    <div class="item">
      <div class="plus-icon" title="create a new deck" (click)="openPopup()"></div>
    </div>
    <div class="item">
      <h1>My collections</h1>
    </div>
    <!-- Popup window -->
    <div id="popup" class="modal"
         [ngStyle]="popupShown? {'display' : 'block'} : {'display' : 'none'}">
      <div class="modal-content">
        <app-new-deck-popup [userId]="1"></app-new-deck-popup>
      </div>
    </div>

    <div class="searchbar">
      <input class="search" placeholder="search..." [(ngModel)]="searchPhrase" (keyup.enter)="searchDecks()" (input)="resetDecks()">
    </div>
  </div>

  <br>
  <br>
  <div class="decks-list" *ngIf="decks$ | async as decks">
    <!--ng-container *ngFor="let deck of fakeDecks"-->
    <ng-container *ngFor="let deck of decks">
      <app-collection-card class="card" [deck]="deck"  (click)="goToCollection(deck.id)"></app-collection-card>
    </ng-container>
  </div>
</div>

