<div class="card" *ngIf="deck">
  <p class="title">{{deck.name}}</p>
  <p class="description">{{ (deck.description.length>70)?
    ((deck.description | slice:0:70)+'...')
    : (deck.description)}}</p>
  <p class="number">{{deck.numberOfCards==1 ? (deck.numberOfCards+" card") : (deck.numberOfCards+" cards")}}</p>
  <p class="public">{{deck.isPublic ? "public" : "private"}}</p>
  <div *ngIf="deck.numberOfCards > 0" class="practise">
    <div id="circle" class="practise-btn">
      <div id="triangle-right"></div>
    </div>
    <div class="practise-btn" (click)="$event.stopPropagation(); openPractiseDialog()"><p>practise</p></div>
  </div>
  <!--<div>
    <button (click)="goToLearningMode(deck.id)">Learning mode</button>
  </div>-->
</div>
