<div class="general">
  <div class="logo">
    <img src="../../../assets/Images/temp/memo.png" class="log"/>
  </div>

  <div class="info">
    <ul class="list">
      <li> 2021 Memo.com</li>
      <li>
        <div>
            <a class="first"> Terms of service</a>
            <a> Privacy policy</a>
        </div>
      </li>

    </ul>
  </div>

  <div class="social-media">
    <ul class="list2">
      <li> <a class="el1" href="https://www.facebook.com">fb</a></li>
      <li><a class="el1" href="https://www.instagram.com">ig</a></li>
      <li> <a  class="el1" href="https://www.facebook.com">twitter</a></li>
    </ul>
  </div>

</div>
