<app-navbar></app-navbar>
<div class="main-container">
  <div class="introduction-container">
    <div class="introduction-container-el">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus sagittis arcu ac convallis.
      Sed in dui sed lorem condimentum finibus. Quisque vehicula justo mauris, sed consequat urna sagittis vel.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
      Mauris vel lectus pulvinar, pretium purus et, luctus dolor.
     </p>
    </div>
    <div class="introduction-container-el">
      <img class="video1" src="../../../assets/Images/temp/video1.png" />
    </div>
  </div>

  <div class="section-1-container">
      <div class="section-1-container-banner">
        <h1 class="section-1-container-banner1">Some of our public collections</h1>
      </div>
  </div>

  <div class="section-3-aboutUs">
    <div class="section-3-container-banner">
      <h1 class="section-3-container-banner1">About us</h1>

      <p class="aboutUsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus sagittis arcu ac convallis.
        Sed in dui sed lorem condimentum finibus. Quisque vehicula justo mauris, sed consequat urna sagittis vel.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Mauris vel lectus pulvinar, pretium purus et, luctus dolor.
      </p>
    </div>
  </div>


</div>

<app-footer></app-footer>

