<!--app-navbar></app-navbar-->

<!--NAVBAR-->
<div class="navbar">
  <nav>
    <h2 class="logo" (click)="home.scrollIntoView({ behavior: 'smooth', block: 'center' })">Memorise</h2>
    <ul class="list">
      <li><a (click)="aboutus.scrollIntoView({ behavior: 'smooth', block: 'center' })">About us </a></li>
      <li><a (click)="features.scrollIntoView({ behavior: 'smooth', block: 'center' })">Features</a></li>
      <li><a routerLink="/auth/register">Sign in</a></li>
    </ul>
    <div class="button-logIn">
      <button routerLink="/auth/login" class="button-21 login-btn" role="button">Log in</button>
    </div>

  </nav>
</div>


<div class="background">
<div class="main-container">

  <!--FIRST SECTION: HEADER & VIDEO-->
  <section class="one" #home>
  <div class="introduction-container">

    <div class="introduction-container-el header-text">
      <h1 class="title">Learn using most effective techniques</h1>
      <p>
        Our flashcards support best memorizing techniques known as active recall and spaced repetition. Take your learning journey to another level, even today!
      </p>
      <br>
      <br>
      <button routerLink="/auth/register" class="button-21 sign-in-button" role="button"> Sign in</button>
    </div>

    <div class="introduction-container-el">
     <div class="iframe-container">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/UovlZh6Mrew?showinfo=0" title="YouTube video player"
               frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <!-- <img class="video1" src="../../../assets/Images/temp/video1.png" />-->
     </div>
    </div>
  </div>
  </section>

  <!--SECTION: FEATURES-->
  <section #features>
    <div class="features-container">
      <h2 class="header features-header">With Memorise you can...</h2>
      <div class="feature-el">
        <img class="feature-img" src="assets/Images/feature1.png"/>
        <p>Create your own collections</p>
      </div>
      <div class="feature-el">
        <img class="feature-img" src="assets/Images/feature2.png"/>
        <p>Practise in 3 unique modes</p>
      </div>
      <div class="feature-el">
        <img class="feature-img" src="assets/Images/feature3.png"/>
        <p>Track your activity</p>
      </div>
      <div class="feature-el">
        <img class="feature-img" src="assets/Images/feature4.png"/>
        <p>Use a in-app pomodoro timer</p>
      </div>

      <p class="more">...and many more!</p>
    </div>
  </section>

  <!--SECOND SECTION: COLLECTIONS-->
  <section class="two">
    <div class="collections-container">
      <h1 class="header coll-header">Some of our public collections</h1>
      <app-popular-decks></app-popular-decks>
    </div>
  </section>

  <!--THIRD SECTION: ABOUT US-->
  <section class="three" #aboutus>
  <div class="aboutus-container">
      <h1 class="header">About us</h1>
      <p class="aboutUsText">Our mission is to make the world a better place.
        How we are gonna achieve it? Through coding. Yes. We believe in the power of learning.
        This is a small step for us, but huge step for the industry.
        We embraced innovation, taped into our creativity, emphasised the importance
        of divergent thinking and this is the final product.</p>
  </div>
  </section>


  <!--FOURTH SECTION: JOIN US-->
  <section class="fourth">
  <div class="joinUs-container">
    <h1 class="header">Improve your learning experience</h1>
    <button routerLink="/auth/register" class="button-21" role="button"> Create a free account</button>
  </div>
  </section>


</div>
</div>
<!--app-footer></app-footer-->

