.home-icon{
  padding-left: 3px;
  padding-top: 8px;
  padding-right: 5px;
}

.toggle-Btn{
  size: 5px;
}

.toggle-span{
  padding-left: 50px;
}

mat-button-toggle{

}

mat-button-toggle-group{
  background: transparent !important;
  box-shadow: none !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info{
  padding-bottom: 10px;
  position: absolute;
  right: 1.5%;

}

.imageBtn{

}

.textt{
  padding-bottom: 1px;
  padding-right: 3px;
  position: absolute;
  right: 5%;
}

.allCollectionsBtn{
  padding-top: 5px;
  cursor: pointer;
}

.profileOvBtn{
  padding-left: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.allCollectionsBtn:hover {
  color: black;
}

.profileOvBtn:hover{
  color: black;
}

span {
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

.logoName{
  font-size: 25px;
}

.navbar {
  z-index: 1; /*Add this*/
  position: fixed; /* Set the navbar-collections to fixed position */
  top: 0; /* Position the navbar-collections at the bottom of the page */
  left: 0;
  width: 100%; /* Full width */
  background-color: #F5F6FA;
}

*. {
  margin: 0;
}

