<mat-toolbar class="navbar">
  <span class="logoName">
     Memorise
   </span>
  <span class="toggle-span">
    <button class="allCollectionsBtn" mat-button routerLink="/collections"
            value="all_collections">all collections</button>
    <button class="profileOvBtn" mat-button value="profile_overview" routerLink="/overview">profile overview</button>
    <button class="profileOvBtn" mat-button routerLink="/pomodoro-timer">pomodoro timer</button>
  </span>

  <span class="textt">{{userEmail}}</span>
  <span class="user-info">
    <span class="imageBtn">
      <button class="imageBtn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <img alt="Avatar" class="avatar" src="../../../assets/Images/avatar.png">
       </button>
      </span>
      <mat-menu #menu="matMenu">
        <button (click)="logOut()" mat-menu-item >
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
   </span>
</mat-toolbar>

